@use "base/variables" as vr;
@use "base/mixins" as mxn;

.experiencias{
    &__listado{
        display: grid;
        grid-template-columns: repeat(3,30rem);
        column-gap: 2rem;
        @include mxn.scrollHorizontal;

        @include mxn.tablet{
            @include mxn.grid(3,2rem);
        }
    }
}

.experiencia{
    &__imagen{
        border-radius: 1rem;
    }

    &__titulo{
        font-weight: bold;
        font-size: 2rem;
    }
    
    &__texto{
        font-size: 1.8rem;
    }
}