@use "base/mixins" as mxn;

.header{
    margin-top: 5rem;

    &__grid{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mxn.tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}