@use "base/variables" as vr;
@use "base/mixins" as mxn;

.producto-pagina{
    margin-top: 5rem;
}

.formulario{
    display: flex;
    flex-direction: column;

    &__label{
        font-size: 2.2rem;
        margin-right: 1rem;
    }

    &__input{
        border: 0.2rem solid vr.$primario;
        padding: 1rem;

        &:focus-visible{
            outline: 0.2rem solid vr.$primario;
            border: none;
        }
    }

    &__submit{
        @include mxn.boton(vr.$primario,vr.$blanco);
        font-size: 1.5rem;

        @include mxn.tablet{
            font-size: 2rem;
        }
    }
}